@model IList<BlogProject.Models.Post>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Browse</title>
    <link rel="stylesheet" href="~/Styles/Browse.css" />
</head>
<body>
    <nav>
        <article><a href="/Post/Create">New Post</a></article>
        <article><a href="/Browse/BrowseAll">All</article>
        <section>
            @foreach (var category in ViewBag.Categories)
            {
                <article><a href="/Browse/BrowseByCategory/@category.CategoryId">@category.Name</a></article>
            }
        </section>
        <section>
            @foreach (var tag in ViewBag.Tags)
            {
                <article><a href="/Browse/BrowseByTag/@tag.TagId">@tag.Name</a></article>
            }
        </section>
    </nav>
    <div id="body">
        @foreach (var post in Model)
        {
            <a href="/Browse/ViewPost/@post.PostId">
                <article class="post">
                    <h2 id="postTitle">@post.Title</h2>
                    <h3 id="postAuthor">@post.Author</h3>
                    <h3 id="postDate">@post.PublishDate</h3>
                    <h3 id="postCategory">@post.Category.Name</h3>
                    <p id="postBody">@post.Body</p>
                    <section id="tags">
                        @foreach (var postTag in post.PostTags)
                        {
                            <p id="postTag">@postTag.Tag.Name</p>
                        }
                    </section>
                    <form action="/Post/Edit/@post.PostId" method="get">
                        <input type="submit" value="Edit" />
                    </form>
                    <form action="/Post/Delete/@post.PostId" method="post">
                        <input type="submit" value="Delete" />
                    </form>
                </article>
            </a>
        }
    </div>
    <footer>&copy; 2019 Bloggy Blog </footer>
</body>
</html>
